* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: rgb(54, 53, 53);
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	text-align: center;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
	display: flex;
	align-items: center;
	background-color: rgb(247, 241, 241);
	padding: 2rem 1rem 4rem 1rem;
}

.logo {
	width: 10%;
	max-width: 100px;
}

.header-text-container {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 2rem;
	margin: 0;
	padding: 1rem;
}

@media (min-width: 667px) {
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: 4rem;
	}
}

h2 {
	font-size: 1rem;
	padding-bottom: 1rem;
	color: #000; 
}

@media (min-width: 667px) {
	h2 {
		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	h2 {
		font-size: 3rem;
	}
}

h3 {
	font-size: 1rem;
	padding-bottom: 1rem;
	color: #000; 
}

@media (min-width: 1024px) {
	h3 {
		font-size: 1.5rem;
	}
}

p {
	font-size: 1rem;
	padding-bottom: 1rem;
	color: #000; 
}

@media (min-width: 1024px) {
	p {
		font-size: 1.5rem;
	}
}

/* Main Section */
main {
	background-color: rgb(250, 249, 222);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.hero-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}

.hero-image {
	display: flex;
	width: 100%;
	border-radius: 10px;
	padding: 2rem;
}

@media (min-width: 1024px) {
	.hero-info-container {
		flex-direction: row;
	}

	.hero-image {
		width: 500px;
	}

	.hero-info-container {
		max-width: 1000px;
	}
}

/* Card Section */
.card-grid-container {
	display: grid;
	grid-template-columns: repeat(1, 250px);
	justify-content: center;
	justify-items: center;
	gap: 2rem;
	padding: 2rem;
}

.card {
	width:250px;
	background-color: rgb(247, 241, 241);
	border: 1px solid rgb(189, 188, 187);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 2px 16px rgba(255, 255, 255, 0.1);
}

@media (min-width: 667px) {
	.card-grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.card-grid-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
 .card-text-container {
	padding: 10px;
 }

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: rgb(54, 53, 53);
	color:antiquewhite;
	padding-top: 2rem;
	padding-bottom: 4rem;
	text-align: center;
}

@media (min-width: 667px) {
	footer {
		flex-direction: row;
		justify-content: space-around;
	}
}

@media (min-width: 1024px) {
	.card-grid-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

li {
	padding: 0.5rem;
}

footer h3, .address{
	font-size: 1rem;
	padding-bottom: 1rem;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;
}

@media (min-width: 667px) {
	footer h3 {
		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	footer h3 {
		font-size: 2rem;
	}
}

.footer-text {
	font-size: 1rem;
	padding-bottom: 1rem;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
}