/* Reset and Box Sizing */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Dark Mode (Default) */
  body {
	background-color: rgb(54, 53, 53);
	color: antiquewhite;
  }
  
  h1, h2, h3, p {
	color: antiquewhite;
  }
  
  /* Header */
  .header {
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: rgb(54, 53, 53);
	width: 100%;
	min-height: 100px;
	margin: 0;
	padding: 0;
  }
  
  h1 {
	font-size: 1.5rem;
	margin: 0;
	padding: 1rem;
  }
  
  @media (min-width: 667px) {
	h1 {
	  font-size: 3rem;
	}
  }
  
  @media (min-width: 1024px) {
	h1 {
	  font-size: 4rem;
	}
  }
  
  /* Main Section */
  main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: rgb(54, 53, 53);
	gap: 1rem;
  }
  
  .hero-news {
	display: grid;
	grid-column: span 4;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 100%;
  }
  
  .hero-image-container {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
  }
  
  .hero-image {
	width: 100%;
	border-radius: 10px;
  }
  
  .news-card {
	display: grid;
	grid-column: span 4;
	min-height: 150px;
	border: 1px solid antiquewhite;
	border-radius: 10px;
	box-shadow:0 4px 8px rgba(255, 255, 255, 0.2), 0 2px 16px rgba(255, 255, 255, 0.1);
	margin: 1rem;
  }
  
  @media (min-width: 667px) {
	main {
	  grid-template-columns: repeat(8, 1fr);
	}
  
	.hero-news {
	  grid-column: span 8;
	}
  }
  
  @media (min-width: 1024px) {
	main {
	  grid-template-columns: repeat(12, 1fr);
	}
  
	.hero-news {
	  grid-column: span 12;
	}
  }
  
  /* Footer */
  footer {
	width: 100%;
	height: 8rem;
	background-color: antiquewhite;
  }
  
  .footer-text {
	color: rgb(54, 53, 53);
  }
  
  /* Light Mode Styles */
 
  body.light-mode h1, 
  body.light-mode h2, 
  body.light-mode h3, 
  body.light-mode p {
	color: rgb(54, 53, 53);
  }
  
  body.light-mode .header {
	background-color: antiquewhite;
  }
  
  body.light-mode footer {
	background-color: antiquewhite;
  }
  
  body.light-mode .news-card {
	background-color: antiquewhite;
	border: 1px solid #fff;
  }
  
  body.light-mode .hero-news {
	background-color: antiquewhite;
  }
  