* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	color: antiquewhite;
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

@media(min-width: 667px){
	h1{
		font-size: 3rem;
	}
}
@media(min-width: 1024px){
	h1{
		font-size: 4rem;
	}
}

h2 {
	color: antiquewhite;
	font-size: 1.5rem;
	font-weight: 400;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(54, 53, 53);
	width: 100%;
	min-height: 200px;
	margin: 0;
	padding: 0;
	background-color: rgb(54, 53, 53);
}

main {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
	background-color: rgb(54, 53, 53);
}

.hero-news{
	grid-column: span 4;
	border-radius: 10px;
	width: 100%;
}


.news-card{
	grid-column: span 4;
	min-height: 150px;
	display: flex;
	flex-direction: column;
}

@media (min-width: 667px) {
  main {
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-news {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(12, 1fr);
  }
	.hero-news {
    grid-column: span 12;
  }
}